img {
width: 20%
}

.photo {
float: left;
width: 260px;
}

.summary {
border: solid yellow;
background: pink;
}

.flex {
display: flex;
}

.title {
    text-align: center;
    font-size: 30px;
    border: 5px solid orange;
    text-transform: uppercase;
}