body {
font-family: Arial;
background-color: green;
margin: 0;
}

header {
color: yellow;
font-family: Cambria;
background-color: grey;
border-style: solid;
margin: 0;
background-image: url(Сайт-наверх.jpg);
background-repeat: no-repeat;
background-size: cover;
height:150px;
position: relative;
}

header a {
text-decoration: none;
}

nav {
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
}

nav a {
    justify-content: space-between;
}

.time {
text-align: right;
float: right;
color: black;
background-color: beige;
border: 1px solid black;
margin-right: 5px;
padding: 0 3px 0 3px;
}

footer {
background-color: blue;
border-style: solid;
margin-top: 300px;
}

.dark-theme {
    color: white;
    background-color: rgb(32, 27, 27);
}

.theme-button {
    text-transform: none;
}

@media (max-width: 768px) {
    header {
        background-image: url(Пустой_трон_ч1_-_1ред.jpg);
    }
}