body {
font-family: Arial;
background-color: green;
margin: 0;
}

header {
color: yellow;
font-family: Cambria;
background-color: grey;
border-style: solid;
margin: 0;
}

header a {
text-decoration: none;
}

.time {
text-align: right;
color: black;
}

footer {
background-color: blue;
border-style: solid;
margin-top: 300px;
}