body {
font-family: Arial;
background-color: green;
margin: 0;
}

.part {
font-style: italic;
}

.cover {
float: left;
width: 260px;
}

.summary {
font-family: Times New Roman, fantasy;
border: 1px solid orange;
background-color: yellow;
font-size: 20px;
}

.details {
font-family: Verdana;
font-style: normal;
}

.details li {
font-family: Arial;
font-style: normal;
}


a {
text-decoration: none;
}

.book2 {
margin-left: 150px;
}

figure {
margin-left: 0px;
}

section {
border: 5px solid orange;
height: auto;
}

.book-flex {
display: flex;
}

.title {
text-align: center;
font-size: 30px;
border: 5px solid orange;
text-transform: uppercase;
}

.cd {
    background-color: #E0B0FF;
    border: 5px solid #E0B0FF;
    margin-bottom: 5px;
}

.cd a {
    color: blue;
}

.aside {
    background-color: aquamarine;
    text-align: center;
}

button {
    text-transform: uppercase;
}

.aside-bottom {
    border-top: 1px solid orange;
}

.content {
    width: 205px;
}

.details-container {
    display: flex;
}

iframe {
    background-color: rgb(239, 239, 239);
}

.iframe-block {
    display: block;
}

.iframe-none {
    display: none;
}

.et1, .et2, .dh {
    background-color: rgb(240, 148, 148);
}

.et-content-style {
    background-color: red;
}

.dark-theme {
    color: white;
    background-color: rgb(32, 27, 27);
}

.dark-theme-gray {
    background-color: gray;
}

.title-et {
    background-color: rgb(231, 87, 87); 
    border:rgb(231, 87, 87); 
    padding-top: 5px;
}

.title-cd {
    background-color: rgb(78, 124, 9); border: none
}

.series-description {
    text-align: center; 
    background-color: greenyellow;
}

@media (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
    }

    .et1 {
        background-color: red;
    }
}